.switcher-wrapper {
    font-family: ProximaNova,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin-top: 1rem;
    margin-bottom: 1rem;
    // border: 1px solid var(--border-clear);
    // border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    input.toggle {
        height: 0;
        width: 0;
        overflow: hidden;
        opacity: 0;
        position: absolute;
    }

    label {
        display: inline-block;
        padding: 0rem 1rem;
        border-bottom: 1px transparent;
        cursor: pointer;
    }

    .switcher-content {
        order: 999;
        width: 100%;
        padding: 1rem;
        display: none;
        border-top: 1px solid var(--border-light);
    }

    input[type="radio"] + label {
        font-size: 0.75rem;
        line-height: 20px;
        text-transform: uppercase;
        transition: color 0.1s ease-in-out;
        color: var(--text-tip);
        // border-bottom: 1px solid var(--border-light);
    }

    input[type="radio"]:checked + label {
        border-bottom: 2px solid var(--link);
        color: var(--text);
    }

    input[type="radio"]:checked + label + .switcher-content {
        display: block;
    }

    input[type="radio"]:focus + label {
        outline-style: auto;
        outline-color: currentColor;
        outline-color: -webkit-focus-ring-color;
    }
}
