.tabs-sc-wrap {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid var(--border-clear);
    // border-radius: 0.25rem;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

    input.toggle {
        height: 0;
        width: 0;
        overflow: hidden;
        opacity: 0;
        position: absolute;
    }

    label {
        display: inline-block;
        padding: 0rem 1rem;
        border-bottom: 1px transparent;
        cursor: pointer;
    }

    .book-tabs-content {
        order: 999;
        width: 100%;
        border-top: 1px solid var(--border-clear);
        padding: 1rem;
        display: none;
    }

    input[type="radio"]:checked + label {
        border-bottom: 3px solid $color_anchor;
        color: $color_anchor;
    }

    input[type="radio"]:checked + label + .book-tabs-content {
        display: block;
    }

    input[type="radio"]:focus + label {
        outline-style: auto;
        outline-color: currentColor;
        outline-color: -webkit-focus-ring-color;
    }
}
