{{- $articleThumbnail:= partial "variable/thumbnail" .current -}}
{{- $shouldUppercase := partial "variable/shouldUppercase" .context -}}

<div class="article-card-wrap">
    <a class="article-card" href="{{ .current.Permalink }}">
        {{- if (hasPrefix $articleThumbnail "http") -}}
            <div class="card-thumbnail" style="background-image: url({{ $articleThumbnail | safeHTML}})">
                <i class="icon circle white"></i>
            </div>
        {{- else if (hasPrefix .Params.banner "linear-gradient") -}}
            <div class="card-color-thumbnail" style="background-image: {{ .current.Params.banner | safeCSS }};">
                <i class="icon circle white"></i>
            </div>
        {{- else if or (hasPrefix .current.Params.banner "rgb") (hasPrefix .current.Params.banner "#") -}}
            <div class="card-color-thumbnail" style="background: {{ .current.Params.banner | safeCSS }};">
                <i class="icon circle white"></i>
            </div>
        {{- else -}} {{ $randomColor := index (shuffle .current.Site.Data.hey.color.thumbnails) 1}} {{- $thumbnailTitle := (partial "variable/thumbnailTitle" .current) | upper -}} {{- $thumbnailTitleCSS := cond (gt (len $thumbnailTitle) 6) "thumbnail-s" "thumbnail-n" -}}
            <div class="card-color-thumbnail" style="background-image:{{ $randomColor | safeCSS }} ;">
                <span class="thumbnail-title {{ $thumbnailTitleCSS }}">{{ $thumbnailTitle }}</span>
                <i class="icon circle white"></i>
            </div>
        {{- end -}}
        <div class="card-content">
            <p class="card-title" href="{{ .current.Permalink }}">{{ cond (eq $shouldUppercase "true") (.current.Title | upper) .current.Title }}</p>
            {{/*}}<p class="card-summary">{{ partial "variable/summary" .current }}</p>{{*/}}
        </div>
        <div class="card-meta">
            <p class="card-datetime">{{ .Date.Format (T "index-date-format")}}</p>
            <p class="card-reading-time">{{ .current.ReadingTime }}{{ T "minute-read" .current.ReadingTime }}</p>
        </div>
    </a>
</div>
