{{- $context := . -}}
{{- $termName := .Data.Singular -}}
{{- $terms := .Data.Terms.ByCount -}}
{{- $length := len $terms -}}
{{- $type := .Type -}}


{{ partial "pages/section-content" .}}
{{- range $terms -}}
    {{ $term := .Term }}
    {{ $pages := .Pages }}

    {{ with $.Site.GetPage "taxonomy" (printf "%s/%s" $type $term) }}
        <div class="article-taxonomy">
            <h2 class="name">
                <a href="{{ .Permalink }}">{{ $term }}</a>
            </h2>
            {{ range first 5 $pages }}
                <article>
                    <time datetime="{{ .Date.Format "2006-01-02" }}" class="time">{{.Date.Format  (T "index-date-format")}}</time>
                    <span class="article-title">
                        {{- $shouldUppercase := partial "variable/shouldUppercase" $context -}}
                        <a href="{{ .RelPermalink }}" class="link">{{ cond (eq $shouldUppercase "true") (.Title | upper) .Title }}</a>
                    </span>
                </article>
            {{ end }}
            {{ if gt (len $pages) 5 }}
                <div class="more">
                    <a href="{{ .Permalink }}" class="more-post-link">{{ T "read-more" }}</a>
                </div>
            {{ end }}
        </div>
    {{- end -}}
{{- end -}}
