{{- $modes := split "light/dark/black" "/" -}}
{{- $index0Value := default "" (.Get 0) -}}
{{- if .IsNamedParams -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "mode" (default "light" (.Get "mode")) -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "style" (default "" (.Get "style")) -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "wrap-content" (default false (.Get "wrap-content")) -}}
{{- else if in $modes $index0Value -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "mode" (default "light" (.Get 0)) -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "style" (default "" (.Get 1)) -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "wrap-content" (default false (.Get 3)) -}}
{{- else -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "mode" "light" -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "style" (default "" (.Get 0)) -}}
    {{- .Page.Scratch.SetInMap "bannerContent" "wrap-content" (default false (.Get 2)) -}}
{{- end -}}

{{- $bannerContent:= .Inner | safeHTML -}}
{{- .Page.Scratch.SetInMap "bannerContent" "content" $bannerContent -}}
